<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partial/_head') %>
    <title>TinyApp : Registration</title>
  </head>
<body>
  <%- include('partial/_header') %>

  <form method="POST" action="/register">
    <label for="username">Username:</label>
    <input type="text" name="username">   
    <label for="email">Email:</label>
    <input type="email" name="email">
    <label for="password">Password:</label>
    <input type="password" name="password">
    <button type="submit">Register</button>
  </form>
</body>
</html>