<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partial/_head') %>
    <title>TinyApp : Login</title>
  </head>
<body>
  <%- include('partial/_header') %>

  <form method="POST" action="/login">
    <label for="username">Username/Email:</label>
    <input type="text" name="username">   
    <label for="password">Password:</label>
    <input type="password" name="password">
    <button type="submit">Login</button>
  </form>
  <%- include('partial/_bootstrap') %>
</body>
</html>